<!DOCTYPE html>
<html lang="eng">
<head>
	<title>Authentication Page</title>
</head>
<body>
	<form action="" method="post">
		<label for="user">Username: </label><br>
		<p id="user" name="user" style="color: green;"> {{ user }} </p>
		<label for="auth">6-Character Authentication Code: </label><br>
		<input type="text" id="auth" name="auth" maxlength="6"><br>
		<input type="submit" value="Submit" formmethod="post"><br>
	</form>
	{% if error %}
	<p style="color: red;"> {{ error }}</p>
	{% endif %} 
</body>
</html>